.Temp-index-page {
  width: 100vw;
  height: 100vh;
  background: url('../images/background.jpeg') no-repeat center center;
  background-size: cover;
  text-align: center;
  color: black;
  font-family: 'Tiny5', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  margin-top: 20px;
  font-size: 36px;
  font-family: 'Tiny5', monospace;
}

.content {
  display: flex;
  justify-content: center;
  gap: 20px; /* 左右面板间距 */
  margin-top: 20px;
}

.left-panel
 {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid black;
  box-shadow: 4px 4px 0px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.safe-range {
  color: green;
  font-size: 24px;
  font-weight: bold;
}

.caution-range {
  color: orange;
  font-size: 24px;
  font-weight: bold;
}

.temperature-chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.temperature-chart h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

svg {
  margin-top: 10px;
}

.temperature-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
}

.temperature-item p {
  margin: 0; 
  font-size: 14px;
}

.temp-info-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 10px;
  box-shadow: 2px 2px 0 black;
  transition: all 0.2s ease;
}

.temp-info-button:hover {
  transform: translateY(-3px);
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Tiny5', monospace;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 3px 3px 0 black;
  transition: all 0.2s ease;
}

.back-button:hover {
  transform: translateY(-3px);
}
