.info-detail-page {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', monospace;
    padding: 20px;
    background: url('../images/background.jpeg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh; 
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', monospace;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 3px 3px 0px black;
    transition: all 0.2s ease;
  }
  
  .back-button:hover {
    transform: translateY(-3px);
  }

  .box {
    width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid black;
    padding: 20px;
    box-shadow: 4px 4px 0 black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  