body {
  margin: 0;
  font-family: 'Courier New', monospace;
  
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to top, #75C8FC, #D9F6FF); /* sky background */
}

html, body,#root{
  height: 100%;
  margin: 0;
  padding:0;
}
.scene {
  width: 100%;
  height: 100%;
  background: url('./images/background.jpeg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 40%;
  width: 100%;
}

.button {
  padding: 10px 20px;
  background-color: white;
  border: 3px solid black;
  box-shadow: 4px 4px 0px black;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  box-shadow: 2px 2px 0px black;
  transform: translate(2px, 2px);
}

body, .button {
  image-rendering: pixelated;
}

